.Card__main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  flex: 1;
  transition: 0.3s;
  height: 150px;
  border-radius: 10px;
  color: black;
  box-shadow: var(--textShadow);
  cursor: pointer;
  flex-wrap: wrap;
}
.Card__main:hover {
  transform: translateY(-12px);
  scale: 1.1;
}

.card__main-head {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  border-radius: 100%;
}

.Card__main h1 {
  color: rgb(8, 8, 54);
  font-size: 2.2vw;
  font-weight: bold;
}